[v-cloak] {
  display: none;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

body {
  background-color: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#eight-ball {
  width: 400px;
  height: 400px;
  margin: auto;
  border-radius: 100%;
  background-color: #140222;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message-area {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 1px solid white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* 
#triangle {
  width: 0;
  height: 0;
  top: 10px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;

  border-top: 130px solid #030e60;
  position: relative;
} */

#message {
  text-align: center;
  top: 10%;
  /* left: -47px; */
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
  font-weight: bold;
  transition: 1s;
}

#input-section {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px;
}
